
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Utiles</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection, tv" />
<link rel="stylesheet" href="css/style-print.css" type="text/css" media="print" />
</head>
<body>
<div id="wrapper">
  <div class="title">
    <div class="title-top">
      <div class="title-left">
        <div class="title-right">
          <div class="title-bottom">
            <div class="title-top-left">
              <div class="title-bottom-left">
                <div class="title-top-right">
                  <div class="title-bottom-right">
                    <h1><a href="http://10.60.11.40:9292/">MERCURY <span>UTILITIES</span> WEBSITE</a></h1>
                    <p>BY ASHER &hellip;</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="noscreen" />
  <div class="content">
    <div class="column-left">
      <h3>MENU</h3>
      <a href="#skip-menu" class="hidden">Skip menu</a>
      <ul class="menu">
        <li><a href="http://10.60.11.40:9292/" class="active">Home</a></li>
        <li><a href="decrypt_encrypt">Encrypt / Decryp (TAG)</a></li>
        <li><a href="convert_adtech_tag">Convert Adtech Tag Into Adtech Script Tag </a></li>
        <li><a href="http://10.60.11.40:9292/">placeholder link </a></li>
        <li class="last"><a href="http://10.60.11.40:9292/">placeholder link</a></li>
      </ul>
    </div>
    <div id="skip-menu"></div>
    <div class="column-right">
      <div class="box">
        <div class="box-top"></div>
        <div class="box-in" >
          <h2>DOWNLOAD CSV:</h2>
========================================          
     
	<ul class="menu">
        <li ><a href="download">Download CSV / find me in (MERCURY_UTILITIES/ads_script_tag_list.csv)</a></li>
       </ul>
============================================      
         
          <p><%=@convert_result%></p>
          <p></p>

          <br />
         
        </div>
      </div>
      <div class="box-bottom">
        <hr class="noscreen" />
        
       
      </div>
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
</div>
<div align=center>MERCURY UTILITIES WEBSITE <a href='http://10.60.11.40:9292//'>free website templates</a></div></body>
</html>
