<!DOCTYPE HTML>
<html>

   <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
   </head>
   <title>  encrypt </title>

<body>


    <head> 
    <title> <h1>decrypt</h1> </title> 

          
<div>

	<span style="padding: 20px;"><a href= "index">home </a></span>
</div>

<div>

</head>

<body>
<table>
 <tr>
 <td> Insert To Encryp (TAG): </td>
 <td><input type="input" id="campaign_id" /></td>
 <td><input type="button" onclick="goCampaignRedirect(document.getElementById('campaign_id').value);" value="Go"></td>
 </tr>
 



</div>



</tr> 
  <br/>
  <br/>
   

</body>
</html>